
package pages

import "switches/templates/components"

templ SwitchEdit(input components.SwitchInput) {
	<section id="switch-create-form">
		@components.FormContainer(
			components.Form{
				ID:  "switch-edit-form",
				Put: "/admin/switches/edit"}) {
			@components.SwitchGeneralForm(input)
		}
	</section>
}
