
package pages

import "switches/templates/components"

templ SwitchEdit(input components.SwitchInput) {
	<section id="switch-create-form">
		@components.FormContainer(
			components.Form{
				ID:   "switch-create-form",
				Post: "/admin/switches/create"}) {
			@components.SwitchGeneralForm(input)
		}
	</section>
}
