package layouts

import "switches/templates/icons"

templ Modal() {
	<dialog id="dialog" open>
		<div class="close" onclick="closeDialog()">
			@icons.Cancel()
		</div>
		<div class="modal-content">
			{ children... }
		</div>
	</dialog>
}
