#navbar {
  background-color: var(--background-dark);
  width: 100%;
  padding: 10px 20px;
  color: var(--text-color-light);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .header-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    gap: 20px;
    cursor: pointer;
  }
  .img-wrapper {
    width: auto;
    height: 50px;
    img {
      width: auto;
      height: 50px;
    }
  }
  .menu-items {
    display: flex;
    place-items: center;
    .logged-in {
      display: flex;
      place-items: center;
      gap: 20px;
    }
    .menu-button {
      transition: 0.3s;
      &:hover {
        background-color: var(--background-dark);
        color: var(--text-color-light);
        cursor: pointer;
      }
    }
    .btn-inverted {
      background-color: var(--background-dark);
      color: var(--text-color-light);
      border: 0.5px solid var(--text-color-light);
      transition: 0.3s;
      &:hover {
        background-color: var(--background-light);
        color: var(--text-color-dark);
        cursor: pointer;
      }
    }
  }
}

#portal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#dialog {
  z-index: 1000;
  width: 95vw;
  display: flex;
  flex-direction: column;
  place-self: center;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: var(--background-light);
  overflow: hidden;
  box-shadow:
    rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  .close {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    &:hover {
      cursor: pointer;
    }
    svg {
      fill: var(--text-color-dark);
    }
  }

  .modal-content {
    overflow: auto;
    padding: 20px;
    white-space: pre-wrap;
  }
}

.card {
  padding: 20px;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
}

@media (min-width: 768px) {
  #dialog {
    width: 70vw;
    max-width: 800px;
    max-height: 80vh;
  }
}

.body-no-scroll {
  overflow: hidden;
}

.center-svg {
  display: flex;
  place-items: center;
}

/* .img-wrapper { */
/*   width: 100%; */
/*   height: auto; */
/*   img { */
/*     width: 100%; */
/*     height: auto; */
/*   } */
/* } */
