#cta {
  padding: 1rem;
  .cta-wrapper {
    margin-top: 1.5rem;
    .cta-header {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      h1 {
        line-height: 1.3;
      }
      p {
        line-height: 1.3;
        margin: 1rem 0;
      }
      .get-started:hover button {
        cursor: pointer;
      }
    }
  }
}

#featured {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-color: lightgrey;
  gap: 1rem;
  .featured-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.switch-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.switch-card-featured {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
  background-color: var(--background-light);
  border-radius: 15px;
  transition: all 300ms ease-in-out;
  border: none;
  outline: none;
  .switch-image {
    height: 225px;
    width: 225px;
  }
  .switch-details {
    text-align: center;
    p {
      color: var(--text-color-light-muted);
    }
  }
}

.switch-card-featured:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  scale: 1.03;
  cursor: pointer;
}

.switch-card-preview {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 1rem;
  gap: 1rem;
  background-color: var(--background-light);
  border-radius: 15px;
  transition: all 300ms ease-in-out;
  border: none;
  outline: none;
  width: calc(200px + 2rem);
  h2 {
    font-size: 1rem;
    text-wrap: wrap;
    color: var(--text-color-dark);
  }
  .switch-image {
    height: 200px;
    width: 200px;
  }

  .switch-details {
    width: 100%;
    .attributes {
      font-size: 0.875rem;
      color: var(--text-color-light-muted);
      align-self: flex-start;
      text-align: left;
      display: flex;
      justify-content: space-between;
      .price-point {
        display: flex;
        flex-direction: row;
        svg {
          height: 20px;
          width: 20px;
          margin-right: -10px;
          fill: var(--text-color-light-muted);
        }
      }
    }
  }
}

.switch-card-preview:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  scale: 1.03;
  cursor: pointer;
}

#home-recommendations {
  padding: 1rem;
  .header {
    h2 {
      margin-bottom: 1rem;
      line-height: 1.3;
      font-weight: 800;
    }
  }
  #discovery {
    display: flex;
    flex-direction: column;
    .discovery-card {
      display: flex;
      margin-top: 2rem;
      flex-direction: column;
      padding: 16px;
      box-shadow: var(--box-shadow);
      transition: all 300ms ease-in-out;
      &:hover {
        box-shadow: unset;
      }
      .discovery-header {
        display: flex;
        flex-direction: row;
        gap: 1rem;
      }
    }
    .discovery-image {
      margin-top: 1rem;
    }
  }
}

@media screen and (min-width: 768px) {
  #cta {
    padding: 2.5rem;
    .cta-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      flex-direction: row;
      gap: 2rem;
      h1 {
        font-size: 2.5rem;
      }
      .cta-header {
        flex: 1;
      }
      .cta-image {
        padding: 0 2rem 2rem;
      }
    }
  }

  #home-recommendations {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4rem;
    h2 {
      font-size: 2.5rem;
    }
  }

  #featured {
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: 2.5rem;
    }
    .switch-cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5rem;
      width: 100%;
      .switch-details {
        h2 {
          font-size: 2rem;
        }
      }
    }
  }
}
