:root {
  /* Primary Colors */
  --primary-color: #4169e1;
  --secondary-color: #eb941e;
  --accent-color-light: #41d4e1;
  --accent-color-dark: #8441e1;
  --highlight-color: #008080;

  /* Text Colors */
  --text-color-light: #d3d3d3;
  --text-color-light-muted: #6e6e77;
  --text-color-dark: #121212;
  --text-color-dark-muted: #6e6e77;

  /* Additional Colors */
  --success-color: #32cd32;
  --warning-color: #ffa500;
  --info-color: #87ceeb;
  --danger-color: #dc143c;

  /* Background Colors */
  --background-dark: #1b1b1b;
  --background-light: #f8f8f8;
  --background-light-muted: #6e6e77;

  --color-light: #ffffff;
  --color-dark: #000000;

  /* Box Shadows */
  --box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px,
    rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
    rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
    rgba(42, 51, 70, 0.04) 0px 6px 6px -3px,
    rgba(14, 63, 126, 0.04) 0px 12px 12px -6px,
    rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.text-light {
  color: var(--text-color-light);
}

.text-dark {
  color: var(--text-color-dark);
}

.background-dark {
  background-color: var(--background-dark);
}

.background-light {
  background-color: var(--background-light);
}

.dark {
  background-color: var(--background-dark);
  color: var(--text-color-light);
}

.light {
  background-color: var(--background-light);
  color: var(--text-color-dark);
}
