:root {
  /* Primary Colors */
  --primary-color: #4169e1;
  --secondary-color: #ffffe0;
  --accent-color: #dc143c;
  --highlight-color: #008080;

  /* Text Colors */
  --text-color-light: #d3d3d3;
  --text-color-dark: #000080;

  /* Additional Colors */
  --success-color: #32cd32;
  --warning-color: #ffa500;
  --info-color: #87ceeb;

  /* Background Colors */
  --background-dark: #1b1b1b;
  --background-light: #f8f8f8;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.text-light {
  color: var(--text-color-light);
}

.text-dark {
  color: var(--text-color-dark);
}

.background-dark {
  background-color: var(--background-dark);
}

.background-light {
  background-color: var(--background-light);
}

.dark {
  background-color: var(--background-dark);
  color: var(--text-color-light);
}

.light {
  background-color: var(--background-light);
  color: var(--text-color-dark);
}
