.switch-detail-card {
  display: flex;
  flex-direction: column;
  gap: 40px;
  .switch-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .switch-header {
    display: grid;
    grid-template-columns: 60% 1fr;
    justify-content: space-between;
    gap: 10px;
    .switch-names {
      h1:hover {
        cursor: pointer;
      }
      h3 {
        color: var(--text-color-dark-muted);
        display: flex;
        flex-direction: row;
        .share-wrapper {
          display: flex;
          align-items: center;
          a {
            display: inline-block;
            width: 25px;
            height: 25px;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      span {
        padding: 0px 15px;
      }
    }
    .switch-selectors {
      display: flex;
      flex-direction: row;
      place-content: flex-end;
      gap: 20px;
      align-items: center;
      .checkmark {
        svg {
          width: 35px;
          height: 35px;
        }
        &.filled svg {
          fill: var(--primary-color);
        }
        &:hover {
          cursor: pointer;
        }
      }
      .heart {
        svg {
          width: 30px;
          height: 30px;
        }
        &.filled svg {
          fill: var(--danger-color);
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .switch-detail-card {
    .switch-images {
      flex-direction: row;
    }
  }
}

#switch-detail {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 20px;
  .switch-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .switch-header {
    display: grid;
    grid-template-columns: 60% 1fr;
    justify-content: space-between;
    gap: 10px;
    .switch-names {
      h1:hover {
        cursor: pointer;
      }
      h3 {
        color: var(--text-color-dark-muted);
        display: flex;
        flex-direction: row;
        .share-wrapper {
          display: flex;
          align-items: center;
          a {
            display: inline-block;
            width: 25px;
            height: 25px;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      span {
        padding: 0px 15px;
      }
    }
    .switch-selectors {
      display: flex;
      flex-direction: row;
      place-content: flex-end;
      gap: 20px;
      align-items: center;
      .checkmark {
        svg {
          width: 35px;
          height: 35px;
        }
        &.filled svg {
          fill: var(--primary-color);
        }
        &:hover {
          cursor: pointer;
        }
      }
      .heart {
        svg {
          width: 30px;
          height: 30px;
        }
        &.filled svg {
          fill: var(--danger-color);
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

#switches {
  padding: 20px;
  #filters {
    margin-top: 10px;
    .filter {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-top: 5px;
    }

    .cost-wrapper {
      display: flex;
      flex-direction: row;
      gap: 10px;

      .cost {
        display: flex;
        flex-direction: row;
      }
    }
  }

  #search {
    margin-top: 20px;
    width: 100%;
    .search input {
      width: 100%;
      border: 1px solid var(--text-color-dark-muted);
      border-radius: 5px;
      padding: 5px;
    }
  }

  .selectable-label {
    &:hover span {
      background-color: var(--primary-color);
      border-color: var(--primary-color);
      svg {
        fill: #ffffff;
      }
    }

    & input {
      &:checked + span {
        background-color: var(--primary-color);
        border-color: var(--primary-color);
        svg {
          fill: #ffffff;
        }
      }
    }
  }
}
