package components

import "switches/models"

templ FeaturedSwitches(clickyClacks []models.Switch) {
	<section id="featured">
		<div class="featured-header">
			<h2>Featured Mechanical Switches</h2>
			<p>Explore our selection of the most popular and highly-rated mechanical switches.</p>
		</div>
		<div class="featured-switches">
			<div class="switch-cards">
				for _, clickyClack := range clickyClacks {
					@SwitchCardFeatured(clickyClack)
				}
			</div>
		</div>
	</section>
}
