package components

templ Navbar(route string) {
	<header id="header">
		<a
			class="header-wrapper"
			hx-get="/"
			hx-target="#body"
			hx-push-url="/"
		>
			<div class="img-wrapper">
				<img src="images/switches_logo_white.webp" alt="switclh as a logo"/>
			</div>
			<h1 class="text-light">Waugze</h1>
		</a>
	</header>
}
