package components

import (
	"fmt"
	"switches/models"
)

templ SwitchList(user models.User, clickyClacks []models.Switch) {
	<section id="switches">
		for _, clickyClack := range clickyClacks {
			<h1
				hx-trigger="click"
				hx-get={ fmt.Sprintf("/switches/%s", clickyClack.ID) }
				hx-push-url={ fmt.Sprintf("/switches/%s", clickyClack.ID) }
				hx-target="#main"
			>{ clickyClack.Name }</h1>
		}
	</section>
}
